

<div class="footer" style="margin-top: 150px;">
    <hr style="height:2px;border-width:0;color:#272a2c; background-color: #272a2c;">
    <div class="container">
        <div class="footer-row">
            <div class="footer-column">
                <h1>NoIdentity</h1>
                <p style="font-style: italic;">© Copyright 2020-2021</p>
            </div>
            <div class="footer-column">
                <h1>Sites Externos</h1>
                <p>
                    <a href="https://top.gg/bot/778753927369850880">Top.gg</a><br>
                    <a href="https://www.flaticon.com/">FlatIcon.com</a><br>
                </p>
            </div>
            <div class="footer-column">

            </div>
            <div class="footer-column">
                <h1>Páginas do site</h1>
                <p>
                    <a href="/">Início</a><br>
                    <a href="#features">Recursos</a><br>
                    <a href="/commands">Comandos</a><br>
                    <a href="/profile">Perfil</a>
                </p>
            </div>
        </div>
    </div>
</div>